%% Something weird here - ct doesn't seem to see simulator_config
%% when it's standalone, so this is set up only to have one singles top-level CfgVarName.
%%

{sim_node_name, apns_sim_test_node}.

{simulator_config, [
                    {ssl, true},
                    {ssl_options, [{ip, {127,0,0,1}},
                                   {port, 2197},
                                   {cacertfile, "FakeAppleAllCAChain.cert.pem"},
                                   {certfile, "FakeAppleProdPushServer.cert.pem"},
                                   {keyfile, "FakeAppleProdPushServer.key.unencrypted.pem"},
                                   {honor_cipher_order, false},
                                   {fail_if_no_peer_cert, true},
                                   {verify, verify_peer},
                                   {versions, ['tlsv1.2']},
                                   {alpn_preferred_protocols, [<<"h2">>]}]}
                   ]
}.

{sessions, [
            [
             {name, 'apnsv3-com.example.FakeApp.voip'},
             {token, "ca6a7fef19bcf22c38d5bee0c29f80d9461b2848061f0f4f0c0d361e4c4f1dc2"},
             {config,
              [
               {host, <<"localhost">>},
               {port, 2197},
               {bundle_seed_id, <<"com.example.FakeApp.voip">>},
               {apns_env, prod},
               {apns_topic, <<"com.example.FakeApp.voip">>},
               {disable_apns_cert_validation, true}, % TODO: fix this
               {ssl_opts, [
                           {cacertfile, "FakeAppleAllCAChain.cert.pem"},
                           {certfile, "com.example.FakeApp.universal.cert.pem"},
                           {keyfile, "com.example.FakeApp.universal.key.unencrypted.pem"},
                           {verify, verify_peer},
                           {honor_cipher_order, false},
                           {versions, ['tlsv1.2']},
                           {alpn_advertised_protocols, [<<"h2">>]}]}
              ]}
            ]
           ]
}.

{lager, [
         {handlers, [
                     {lager_common_test_backend, debug},
                     {lager_console_backend, debug},
                     {lager_file_backend, [{file, "error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
                     {lager_file_backend, [{file, "console.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 5}]}
                    ]}
        ]}.

% Tests need working APNS certs and token, sadly.
%% {sessions, [
%%         [
%%             {name, 'apnsv3-com.silentcircle.SilentPhone.voip'},
%%             {token, "***Need a valid dev token here***"},
%%             {config, [
%%                     {host, "api.development.push.apple.com"},
%%                     {port, 443},
%%                     {bundle_seed_id, <<"com.silentcircle.SilentPhone.voip">>},
%%                     {bundle_id, <<"com.silentcircle.SilentPhone.voip">>},
%%                     {ssl_opts, [
%%                             {certfile, "../../test/certs/com.silentcircle.SilentPhone.voip--DEV.cert.pem"},
%%                             {keyfile, "../../test/certs/com.silentcircle.SilentPhone.voip--DEV.key.unencrypted.pem"}
%%                         ]
%%                     }
%%                 ]}
%%         ]
%%     ]
%% }.


